<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="logPath">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%pid-%tid %t] [%F:%L %M] %m%n"/>
        </Console>

        <RollingRandomAccessFile name="fileAppender"
                                 fileName="${logPath}/weevent-broker.log"
                                 filePattern="${logPath}/weevent-broker.log.%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%pid-%tid %t] [%F:%L %M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="24"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <root level="info" includeLocation="true">
            <appender-ref ref="fileAppender"/>
        </root>
    </Loggers>
</Configuration>