### gradle
.gradle
gradle.properties
!gradle/wrapper/gradle-wrapper.jar

### java project
logs/
build/
out/
weevent-core/dist/
weevent-client/dist/
weevent-broker/dist/
weevent-governance/dist/
weevent-processor/dist/

### npm build
node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

.history/*
git.properties
