sudo: false
dist: trusty

# safelist
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/

language: java
jdk:
  - oraclejdk8

notifications:
  email:
    - chent1993@163.com

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - chmod +x  ci/script/build-ci.sh
  - ci/script/build-ci.sh
  - chmod +x ./gradlew
  - ./gradlew build
  - ./gradlew check
  - ./gradlew codeCoverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash) -f "./build/customJacocoReportDir/codeCoverageReport/codeCoverageReport.xml"