@bg:#f4f6fc;
@blue:#2e5bff;
@yellow:#ffab2b;

@bg_green:#6DD230;
@light_green:#EAF9E1;
@bg_red:#FF5660;
@light_red:#FFE6E8;
@bg_blue: #4D7CFE;
@light_blue:#E5ECFF;
@light_yellow:#FFF9EE;
@light_gray:#F7F8FA;

@radio_puple:#EEE6FF;
@radio_blue:#D9F6F9;
@radio_yellow:#FEF6E2;

@bg_input:#F9FAFF;
@input_right_line:#E0E7FF;

@gray_title:#98a7b9;
@gray_text:#B6C1CE;
@black_text:#2e384d;

@table_border-color:#EDEFF4;

@shadow:{
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px; 
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px; 
   box-shadow: rgba(0,0,0,0.2) 0px 0px 20px; 
}
   