@import './animation';
@import './webase';
@font-face {
  font-family: 'syyh';
  src: url('../font/syyh-normal.ttf')
}
html,body,div,p,ul,li{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  font-family: 'syyh'
}
li{
  list-style: none;
}
html,body,#app{
  height:100%;
}

#app{
  background:rgba(0,0,0, 0.03);
}

.el-container{
  height:100%;
}

.el-header{
  background:#fff;
  border-bottom:1px solid #ddd;
  z-index: 99;
  .el-dropdown {
    font-size: 16px;
    cursor: pointer;
    span i {
      margin-left:5px;
    }
  }
}

.headerBar{
  display:flex;
  height:60px;
  line-height: 60px;
  justify-content: space-between;
  
  .navigation{
    display: flex;
    .el-breadcrumb{
      line-height:60px;
      font-size: 16px;
      margin-left:86px;
    }
  }

  .right_part{
    display: flex;
    align-items: center;
    .back_home{
      width:20px;
      margin-right:15px;
    }
    .el-dropdown{
      font-size: 18px;
    }
  }
}

.el-aside{
  background:#FFF;
  position: relative;
  
  .el-menu{
    background:transparent;
    border-right:0;
    .el-menu-item{
      color:#8993a2;
      border-left:6px solid transparent;
      font-size: 16px;
      &:hover{
        background:rgba(27,121,255,.1);  
      }
    }
  
    .el-menu-item.is-active{
      background:rgba(27,121,255,.1);
      border-left:6px solid #1b79ff;
      color:#1b79ff;
    }
  }

  .el-menu-vertical:not(.el-menu--collapse){
    width:240px;
  }
}

.el-main{
  position: relative;

  .home-content{
    height:100%;
    padding:20px;

    .des-list{
      margin-top:15px;
      li{
        margin:10px;
      }
    }
  }
  .select-box{
    width:38px;
    height:36px;
    position: absolute;
    top:30px;
    left:0;
    border-radius:0px 18px 18px 0px;
    text-align: center;
    background:#1b79ff;

    .arrow-icon{
      width:9px;
      height:9px;
      border-top:2px solid #ddd;
      border-right:2px solid #ddd;
      @arrow-left();
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      display: inline-block;
      margin-top:13px;
    }

    .arrow-right{
      @arrow-right();
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
    }
  }

  .el-pagination{
    margin-top:10px;
  }

  .event-table{
    height:95%;
    background:#fff;
    padding:20px;
    border-radius: 5px;
    .refresh{
      float:right;
      margin-top:10px;
      margin-bottom:6px;
    }
    .contract-address{
      height:21px;
      margin:10px 0;
      color:#909399;
      float: right;
      width: 100%;
      text-align: right;
    }

    .el-table{
      background: transparent;
      height:89%;
      position: relative;
      .el-table__empty-block{
        background:white;
        height:auto; 
      }
      .el-table__body-wrapper{
        position: absolute;
        top:49px;
        left:0;
        right:0;
        bottom:0;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width:10px;
          height:1px;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background: #ddd;
        }
        &::-webkit-scrollbar-track{
          border-radius: 10px;
          border-radius: 10px;
          background: #ededed;
        }
        .el-table__body{
          .cell {
            word-break: inherit !important
          }
        } 
      }
    }
  }
}

.el-table--striped .el-table__body tr.el-table__row--striped td{
  background:#FFF;
}

.searchBox{
  margin:20px 0;
  text-align: right;
  .el-input{
    width:200px;
  }
}

.el-button--primary{
  background: #1b79ff;
}
.el-table__expand-icon>.el-icon{
  font-size: 16px;
  font-weight: bold;
  margin-top:-7px;
}

.el-submenu__title{
  padding-left:26px !important;
  color:#8993a2 !important;
}

.el-submenu .el-menu-item{
  padding-left:60px !important;
}

.setPart{
  max-width:870px;
  background:#fff;
  height:100%;
  margin:auto;
  box-shadow: 0 4px 12px 0 #dfe2e9;
  padding:20px;
  .setContent{
    max-width:870px;
    margin:auto;
    h3{
      margin-top:0;
      padding-bottom:10px;
      border-bottom:1px solid #EBEEF5
    }
    .login_part {
      span{
        display:inline-block;
        margin:10px;
      }
      .midify{
        font-size: 12px;
        cursor: pointer;
        color:#2d5f9e;
        text-decoration: none;
      }
    }
 
  }
}

.servers{
  max-width:1100px;
  background:#fff;
  height:100%;
  margin:auto;
  box-shadow: 0 4px 12px 0 #dfe2e9;

  .headerBar{
    padding:0 20px;
    border-bottom:1px solid #ebeef5;
    .el-dropdown{
      margin-right:22px;
    }
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px 0;
    span{
      font-weight: bold;
      color:#8993a2;
    }
    i{
      color:#2d5f9e;
      font-weight: bolder;
      cursor: pointer;
      margin-right:15px;
    }
  }

  .list_part{
    padding:0 40px;
  }

  ul{
    border:1px solid #ebeef5;
    border-radius:5px;
  }
  ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 10px;
    border-bottom:1px solid #ebeef5;
    color:#8993a2;
    &:first-child{
      color:#000;
    }
    &:last-child{
      border-bottom:0;
    }
    i{
      cursor: pointer;
      color:#2d5f9e;
      width:40px;
    }
    span{
      width:15%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:nth-child(2){
        flex-grow:1
      }
    }
  }
}
