@import './animation';
@import './webase';
@font-face {
  font-family: 'syyh';
  src: url('../font/syyh-normal.ttf')
}
html,body,div,p,ul,li{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  font-family: 'syyh'
}
li{
  list-style: none;
}
html,body,#app{
  height:100%;
}

#app{
  background:rgba(0,0,0, 0.03);
}

#login{
  display: flex;
  width:100%;
  height:100%;
  align-items: center;
  background-image:url('../image/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  .role1,.role2,.role3{
    position: absolute;
  }
  .role1{
    top:100px;
    right:380px;
  }
  .role2{
    top:-265px;
    right:-120px;
  }
  .role3{
    bottom:-265px;
    left:-185px;
  }

  .login_box{
    width:440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:white;
    margin:auto;
    padding:40px;
    border-radius: 8px;
    box-shadow:0 20px 70px rgba(0,0,0,.2);
    position: relative;

    .shape{
      position: absolute;
      bottom:-36px;
      left:-45px;
      z-index: -1
    }

    .login_logo{
      width:190px;
    }

    .words{
      font-size: 32px;
      color:#2e5bff;
      margin:20px 0 30px;
    }
    .el-form{
      width:85%;
      .el-input__inner{
        height:50px;
        line-height:50px;
        padding-left:40px;
      }

      .el-form-item:nth-child(2){
        .el-input__inner{
          padding-right:110px;
        }
      }

      .el-input__icon{
        font-size:20px;
        line-height:50px;
        width:35px;
      }
      .el-button{
        width:100%;
        padding:17px 20px;
        margin-top:10px;
      }

      .forget{
        position: absolute;;
        right:0;
        top:15px;
        height:20px;
        line-height: 20px;
        padding:0 10px;
        cursor: pointer;
        color:#b0bac9;
        border-left:1px solid #b0bac9;
      }

      .registered_btn{
        color:#2e5bff;
        cursor: pointer;
        float: right
      }
    }
  }
}

.registered{
  width:100%;
  height:100%;

  .header_part{
    position: fixed;
    top:0;
    width:100%;
    height: 60px;
    background:#fff;
    box-shadow: 0 2px 2px #ddd;

    .logo_part{
      width:800px;
      margin:auto;
      img:first-child{
        width:155px;
      }
      img:last-child{
       float:right;
       width:20px;
       margin-top:21px;
       margin-right:20px;
       cursor: pointer;
      }
    }
  }

  .registered_part{
    width:800px;
    height:100%;
    margin:auto;
    padding:100px 60px 20px;
    background:#fff;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.2);

    .el-form{
      width:70%;
      margin:auto;
    }
  }
}

.el-container{
  height:100%;
}

.el-header{
  background:#fff;
  border-bottom:1px solid #ddd;
  z-index: 99;
  .el-dropdown {
    font-size: 14px;
    cursor: pointer;
    span i {
      margin-left:5px;
    }
  }
  .custom{
    font-size: 16px;
    margin-right:5px;
    padding:4px;
    border-radius: 12px;
    color:#FFF;
    background: #ddd;
  }
}

.headerBar{
  display:flex;
  height:60px;
  line-height: 60px;
  justify-content: space-between;
  
  .navigation{
    display: flex;
    .el-breadcrumb{
      line-height:60px;
      font-size: 16px;
      margin-left:86px;
    }
  }

  .right_part{
    display: flex;
    align-items: center;
    .back_home{
      width:20px;
      margin-right:15px;
      cursor: pointer;
    }
  }
}

.el-aside{
  background:#FFF;
  position: relative;
  
  .el-menu{
    background:transparent;
    border-right:0;
    .el-menu-item{
      color:#8993a2;
      border-left:6px solid transparent;
      font-size: 16px;
      &:hover{
        background:rgba(27,121,255,.1);  
      }
    }
  
    .el-menu-item.is-active{
      background:rgba(27,121,255,.1);
      border-left:6px solid #1b79ff;
      color:#1b79ff;
    }
  }

  .el-menu-vertical:not(.el-menu--collapse){
    width:240px;
  }
}

.el-main{
  position: relative;

  .home-content{
    height:100%;
    padding:20px;

    .des-list{
      margin-top:15px;
      li{
        margin:10px;
      }
    }
  }
  .select-box{
    width:38px;
    height:36px;
    position: absolute;
    top:30px;
    left:0;
    border-radius:0px 18px 18px 0px;
    text-align: center;
    background:#1b79ff;

    .arrow-icon{
      width:9px;
      height:9px;
      border-top:2px solid #ddd;
      border-right:2px solid #ddd;
      @arrow-left();
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      display: inline-block;
      margin-top:13px;
    }

    .arrow-right{
      @arrow-right();
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
    }
  }

  .el-pagination{
    margin-top:10px;
  }

  .event-table{
    height:95%;
    background:#fff;
    padding:20px;
    border-radius: 5px;
    .refresh{
      float:right;
      margin-top:10px;
      margin-bottom:6px;
    }
    .contract-address{
      height:21px;
      margin:10px 0;
      color:#909399;
      float: right;
      width: 100%;
      text-align: right;
    }

    .el-table{
      background: transparent;
      height:89%;
      position: relative;
      .el-table__empty-block{
        background:white;
        height:auto; 
      }
      .el-table__body-wrapper{
        position: absolute;
        top:49px;
        left:0;
        right:0;
        bottom:0;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width:10px;
          height:1px;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background: #ddd;
        }
        &::-webkit-scrollbar-track{
          border-radius: 10px;
          border-radius: 10px;
          background: #ededed;
        }
        .el-table__body{
          .cell {
            word-break: inherit !important
          }
        } 
      }
    }
  }
}

.el-table--striped .el-table__body tr.el-table__row--striped td{
  background:#FFF;
}

.searchBox{
  margin:20px 0;
  text-align: right;
  .el-input{
    width:200px;
  }
}

.el-button--primary{
  background: #1b79ff;
}
.el-table__expand-icon>.el-icon{
  font-size: 16px;
  font-weight: bold;
  margin-top:-7px;
}

.el-submenu__title{
  padding-left:26px !important;
  color:#8993a2 !important;
}

.el-submenu .el-menu-item{
  padding-left:60px !important;
}

.setPart{
  max-width:870px;
  background:#fff;
  height:100%;
  margin:auto;
  box-shadow: 0 4px 12px 0 #dfe2e9;
  padding:20px;
  .setContent{
    max-width:870px;
    margin:auto;
    h3{
      margin-top:0;
      padding-bottom:10px;
      border-bottom:1px solid #EBEEF5
    }
    .login_part {
      span{
        display:inline-block;
        margin:10px;
      }
      .midify{
        font-size: 12px;
        cursor: pointer;
        color:#2d5f9e;
        text-decoration: none;
      }
    }
 
  }
}

.servers{
  max-width:800px;
  background:#fff;
  height:100%;
  margin:auto;
  
  .top_part{
    position: fixed;
    top:0;
    left:0;
    background:#fff;
    width:100%;
    box-shadow: 0 2px 2px #ddd;
  }
  .headerBar{
    width:800px;
    margin:auto;
    padding:0 20px;
    .el-dropdown{
      margin-right:22px;
    }
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px 0;
    span{
      font-weight: bold;
      color:#8993a2;
    }
    i{
      color:#2d5f9e;
      font-weight: bolder;
      cursor: pointer;
      margin-right:15px;
    }
  }

  .list_part{
    padding:80px 40px 20px;
  }

  ul{
    border:1px solid #ebeef5;
    border-radius:5px;
  }
  ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 10px;
    border-bottom:1px solid #ebeef5;
    color:#8993a2;
    &:first-child{
      color:#000;
    }
    &:last-child{
      border-bottom:0;
    }
    i{
      cursor: pointer;
      color:#2d5f9e;
      width:40px;
    }
    span{
      width:15%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:nth-child(2){
        flex-grow:1
      }
    }
  }
}

