@import './color';
.overview{
	width:100%;
	height:100%;
	.top_content{
		display: flex;
		justify-content: space-between;
		border-radius: 5px;
		.num_block{
			width:20%;
			.num_part{
				height:80px;
				width:100%;
				background:#fff;
				border-radius: 5px;
				@shadow();
				padding:0 10px;
				display: flex;
				justify-content:space-between;
				align-items: center;

				.color_part{
					width:40px;
					height:40px;
					margin-left: 20px;
					border-radius: 20px;
					display: flex;
					justify-content:space-between;
					align-items: center;
					img{
						margin:auto
					}
				}
				.puple{
					background:@radio_puple;
				}
				.blue{
					background:@radio_blue;
				}
				.yellow{
					background:@radio_yellow;
				}
				.right_part{
					margin-right:20px;
					text-align: right;
				}

				.title_name{
					color:@black_text;
					font-size: 24px;
				}

				.number{
					font-size: 14px;
					color:@gray_text
				}
				&:nth-child(2){
					margin:20px 0;
				}
			}
		}
		.chart{
			width:78%;
			height:280px;
			border-radius: 5px;
			@shadow();
		}
	}
	.bottom_content{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top:20px;
		.block,.transaction{
			width:49%;
			border-radius: 5px;
			background:#fff;
			box-shadow: 0 4px 12px 0 #dfe2e9;
			.title{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding:0 15px;
				height:70px;
				line-height: 70px;
				border-bottom:1px solid #f1f1f1;
				span:first-child{
					color:@black_text;
					border-bottom:3px solid @black_text;
					font-weight: bold;
				}
			}
			.more_date a{
				cursor: pointer;
				color: @blue;
				text-decoration: none;
				font-size: 14px;
			}
			ul li{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding:15px 10px;
				font-size: 14px;
				&>div{
					p:first-child{
						color:@blue;
					}
					p:last-child{
						color:@gray_text;
					}
				}
				.detial{
					display: flex;
					align-items: center;
					span{
						width:120px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color:@gray_text;
					}
					i{
						margin:0 10px;
						color:@gray_text;
					}
				}
				.time{
					color:@gray_text;
				}
				.right_part{
					p:first-child{
						color:@black_text;
						align-self: center;
						width:200px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					span{
						float:right;
						background:@light_yellow;
						color:@yellow;
						font-size: 12px;
						margin-top:5px;
						padding:2px 5px;
					}
				}
			}
			.transaction_data_list li p{
				width:300px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

.group{
	height:100%;
	background:#FFF;
	padding:30px;
	border-radius: 5px;
	.control_part{
		display: flex;
		justify-content: flex-end;
		padding-bottom:22px;
		&>.el-button{
			margin-right:20px;
		}
		.el-input{
			width:300px;
		}
	}

	.dot{
		width:10px;
		height:10px;
		border-radius: 5px;
		background:#909e99;
		display: inline-block
	}
	
	.dot_act{
		background:#67c23a
	}
	
	.el-input-group__append{
		background:#1b79ff;
		color:#fff;
	}

	.el-table .cell{
		white-space: nowrap
	}

	.trans_detial li{
		display: flex;
		color:rgb(115, 122, 134);
		padding:5px 0;
		span:nth-child(1){
			width:100px;
			font-weight: 700;
			font-size: 12px;
		}
		.funciton_detial{
			border:1px solid #EBEEF5;
			border-radius: 5px;
			width: calc(100% - 200px);
			max-heigth:200px;
			padding:10px 20px;
		}
	}

}

@media screen and (max-width:1100px){
	.overview {
		.top_content{
			flex-direction: column;
			.num_block{
				width:100%;
				display: flex;
				justify-content: space-between;
				.num_part{
					margin:0 !important;
					width:30%;
				}
			}
			.chart{
				width:100%;
				margin-top:20px;
			}
		}

		.bottom_content{
			flex-direction: column;
			.block{
				width:100%;
			}

			.transaction{
				width:100%;
				margin-top:20px;
			}
		}	
	}
}