<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.processor.mapper.CEPRuleMapper">
    <resultMap id="BaseResultMap" type="com.webank.weevent.processor.model.CEPRule">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="rule_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="from_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="broker_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="payload" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="payload_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="select_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="condition_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="condition_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="to_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="database_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="error_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="error_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="error_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="broker_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, rule_name, from_destination, broker_url, payload, payload_type, select_field,
    condition_field, condition_type, to_destination, database_url, created_time, status,
    error_destination, error_code, error_message, updated_time,broker_id, user_id
  </sql>

    <sql id="Common_Column_List">
    id, rule_name, from_destination, broker_url, payload, payload_type, select_field,
    condition_field, condition_type, to_destination, database_url, created_time, status,
    error_destination, error_code, error_message,broker_id, user_id
  </sql>

    <sql id="Rule_Column_List">
    id, rule_name,from_destination, broker_url, payload, select_field,condition_field, condition_type, to_destination, database_url,  status,
    error_destination, error_code, error_message,broker_id, user_id
  </sql>

    <select id="selectByExample" parameterType="com.webank.weevent.processor.model.CEPRuleExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from cep_rule
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <resultMap id="CEPRuleResultMap" type="com.webank.weevent.processor.model.CEPRule">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="fromDestination" column="from_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brokerUrl" column="broker_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="payload" column="payload" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="payloadType" column="payload_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="selectField" column="select_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionField" column="condition_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionType" column="condition_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="toDestination" column="to_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="databaseUrl" column="database_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="errorDestination" column="error_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorCode" column="error_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brokerId" column="broker_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DynamicRuleResultMapTwo" type="com.webank.weevent.processor.model.CEPRule">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="fromDestination" column="from_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brokerUrl" column="broker_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="payload" column="payload" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="payloadType" column="payload_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="selectField" column="select_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionField" column="condition_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionType" column="condition_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="toDestination" column="to_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="databaseUrl" column="database_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="errorDestination" column="error_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorCode" column="error_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="brokerId" column="broker_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="DynamicRuleResultMap" type="com.webank.weevent.processor.model.CEPRule">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="fromDestination" column="from_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brokerUrl" column="broker_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="payload" column="payload" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="selectField" column="select_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionField" column="condition_field" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="conditionType" column="condition_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="toDestination" column="to_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="databaseUrl" column="database_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="errorDestination" column="error_destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorCode" column="error_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="brokerId" column="broker_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="brokerMap" type="java.lang.String">
        <result property="brokerUrl" column="broker_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getBrokerUrlList" resultMap="brokerMap">
        select
        distinct broker_url
        from cep_rule
        <where>
            broker_url!=""
        </where>
    </select>

    <select id="getDynamicCEPRuleList" resultMap="DynamicRuleResultMap">
        select
        <include refid="Rule_Column_List"/>
        from cep_rule
        <where>
            status=2
        </where>
    </select>


    <select id="getDynamicCEPRuleAllParamList" resultMap="DynamicRuleResultMapTwo">
        select
        <include refid="Rule_Column_List"/>
        from cep_rule
        <where>
            status=1
        </where>
    </select>

    <select id="getCEPRuleList" parameterType="com.webank.weevent.processor.model.CEPRule" resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
        <where>
            <bind name="ruleNamePattern" value=" '%' + ruleName + '%' "/>
            and rule_name LIKE #{ruleNamePattern}
        </where>
    </select>


    <select id="getAllRuleList" parameterType="com.webank.weevent.processor.model.CEPRule" resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
    </select>

    <select id="getCEPRuleListByPage" parameterType="map" resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule limit #{currIndex} , #{pageSize}
    </select>


    <select id="selectByRuleName" parameterType="com.webank.weevent.processor.model.CEPRule"
            resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
        <where>
            <bind name="ruleNamePattern" value=" '%' + ruleName + '%' "/>
            and rule_name LIKE #{ruleNamePattern}
        </where>
    </select>


    <select id="getRulesByBrokerId" parameterType="com.webank.weevent.processor.model.CEPRule"
            resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
        where broker_id = #{brokerId,jdbcType=VARCHAR}
    </select>

    <select id="getRulesByUserId" parameterType="com.webank.weevent.processor.model.CEPRule"
            resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="getRulesByUserIdAndBroker" parameterType="com.webank.weevent.processor.model.CEPRule"
            resultMap="CEPRuleResultMap">
        select
        <include refid="Common_Column_List"/>
        from cep_rule
        where user_id = #{userId,jdbcType=VARCHAR}
        and broker_id = #{brokerId,jdbcType=VARCHAR}
    </select>



    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cep_rule
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cep_rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>


    <delete id="deleteByExample" parameterType="com.webank.weevent.processor.model.CEPRuleExample">
        delete from cep_rule
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webank.weevent.processor.model.CEPRule">
    insert into cep_rule (id, rule_name, from_destination, 
      broker_url, payload, payload_type,
      select_field, condition_field, condition_type, 
      to_destination, database_url, created_time,
      status, error_destination, error_code, 
      error_message, updated_time)
    values (#{id,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{fromDestination,jdbcType=VARCHAR},
      #{brokerUrl,jdbcType=VARCHAR}, #{payload,jdbcType=VARCHAR}, #{payloadType,jdbcType=INTEGER},
      #{selectField,jdbcType=VARCHAR}, #{conditionField,jdbcType=VARCHAR}, #{conditionType,jdbcType=INTEGER}, 
      #{toDestination,jdbcType=VARCHAR}, #{databaseUrl,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER}, #{errorDestination,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR},
      #{errorMessage,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{brokerId,jdbcType=VARCHAR},
      #{userId,jdbcType=VARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.webank.weevent.processor.model.CEPRule">
        insert into cep_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ruleName != null">
                rule_name,
            </if>
            <if test="fromDestination != null">
                from_destination,
            </if>
            <if test="brokerUrl != null">
                broker_url,
            </if>
            <if test="payload != null">
                payload,
            </if>
            <if test="payloadType != null">
                payload_type,
            </if>
            <if test="selectField != null">
                select_field,
            </if>
            <if test="conditionField != null">
                condition_field,
            </if>
            <if test="conditionType != null">
                condition_type,
            </if>
            <if test="toDestination != null">
                to_destination,
            </if>
            <if test="databaseUrl != null">
                database_url,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="errorDestination != null">
                error_destination,
            </if>
            <if test="errorCode != null">
                error_code,
            </if>
            <if test="errorMessage != null">
                error_message,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="brokerId != null">
                broker_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="ruleName != null">
                #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="fromDestination != null">
                #{fromDestination,jdbcType=VARCHAR},
            </if>
            <if test="brokerUrl != null">
                #{brokerUrl,jdbcType=VARCHAR},
            </if>
            <if test="payload != null">
                #{payload,jdbcType=VARCHAR},
            </if>
            <if test="payloadType != null">
                #{payloadType,jdbcType=INTEGER},
            </if>
            <if test="selectField != null">
                #{selectField,jdbcType=VARCHAR},
            </if>
            <if test="conditionField != null">
                #{conditionField,jdbcType=VARCHAR},
            </if>
            <if test="conditionType != null">
                #{conditionType,jdbcType=INTEGER},
            </if>
            <if test="toDestination != null">
                #{toDestination,jdbcType=VARCHAR},
            </if>
            <if test="databaseUrl != null">
                #{databaseUrl,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="errorDestination != null">
                #{errorDestination,jdbcType=VARCHAR},
            </if>
            <if test="errorCode != null">
                #{errorCode,jdbcType=VARCHAR},
            </if>
            <if test="errorMessage != null">
                #{errorMessage,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="brokerId != null">
                #{brokerId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webank.weevent.processor.model.CEPRuleExample"
            resultType="java.lang.Long">
        select count(*) from cep_rule
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>


    <update id="updateByExampleSelective" parameterType="map">
        update cep_rule
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.ruleName != null">
                rule_name = #{record.ruleName,jdbcType=VARCHAR},
            </if>
            <if test="record.fromDestination != null">
                from_destination = #{record.fromDestination,jdbcType=VARCHAR},
            </if>
            <if test="record.brokerUrl != null">
                broker_url = #{record.brokerUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.payload != null">
                payload = #{record.payload,jdbcType=VARCHAR},
            </if>
            <if test="record.payloadType != null">
                payload_type = #{record.payloadType,jdbcType=INTEGER},
            </if>
            <if test="record.selectField != null">
                select_field = #{record.selectField,jdbcType=VARCHAR},
            </if>
            <if test="record.conditionField != null">
                condition_field = #{record.conditionField,jdbcType=VARCHAR},
            </if>
            <if test="record.conditionType != null">
                condition_type = #{record.conditionType,jdbcType=INTEGER},
            </if>
            <if test="record.toDestination != null">
                to_destination = #{record.toDestination,jdbcType=VARCHAR},
            </if>
            <if test="record.databaseUrl != null">
                database_url = #{record.databaseUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.createdTime != null">
                created_time = #{record.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.errorDestination != null">
                error_destination = #{record.errorDestination,jdbcType=VARCHAR},
            </if>
            <if test="record.errorCode != null">
                error_code = #{record.errorCode,jdbcType=VARCHAR},
            </if>
            <if test="record.errorMessage != null">
                error_message = #{record.errorMessage,jdbcType=VARCHAR},
            </if>
            <if test="record.updatedTime != null">
                updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.brokerId != null">
                broker_id = #{record.brokerId,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update cep_rule
        set id = #{record.id,jdbcType=VARCHAR},
        rule_name = #{record.ruleName,jdbcType=VARCHAR},
        from_destination = #{record.fromDestination,jdbcType=VARCHAR},
        broker_url = #{record.brokerUrl,jdbcType=VARCHAR},
        payload = #{record.payload,jdbcType=VARCHAR},
        payload_type = #{record.payloadType,jdbcType=INTEGER},
        select_field = #{record.selectField,jdbcType=VARCHAR},
        condition_field = #{record.conditionField,jdbcType=VARCHAR},
        condition_type = #{record.conditionType,jdbcType=INTEGER},
        to_destination = #{record.toDestination,jdbcType=VARCHAR},
        database_url = #{record.databaseUrl,jdbcType=VARCHAR},
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=INTEGER},
        error_destination = #{record.errorDestination,jdbcType=VARCHAR},
        error_code = #{record.errorCode,jdbcType=VARCHAR},
        error_message = #{record.errorMessage,jdbcType=VARCHAR},
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
        broker_id = #{record.brokerId,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateFieldById" parameterType="com.webank.weevent.processor.model.CEPRule">
        update cep_rule
        <set>
            <if test="ruleName != null">
                rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="fromDestination != null">
                from_destination = #{fromDestination,jdbcType=VARCHAR},
            </if>
            <if test="brokerUrl != null">
                broker_url = #{brokerUrl,jdbcType=VARCHAR},
            </if>
            <if test="payload != null">
                payload = #{payload,jdbcType=VARCHAR},
            </if>
            <if test="selectField != null">
                select_field = #{selectField,jdbcType=VARCHAR},
            </if>
            <if test="conditionField != null">
                condition_field = #{conditionField,jdbcType=VARCHAR},
            </if>
            <if test="conditionType != null">
                condition_type = #{conditionType,jdbcType=INTEGER},
            </if>
            <if test="toDestination != null">
                to_destination = #{toDestination,jdbcType=VARCHAR},
            </if>
            <if test="databaseUrl != null">
                database_url = #{databaseUrl,jdbcType=VARCHAR},
            </if>
            <if test="errorDestination != null">
                error_destination = #{errorDestination,jdbcType=VARCHAR},
            </if>
            <if test="errorCode != null">
                error_code = #{errorCode,jdbcType=VARCHAR},
            </if>
            <if test="errorMessage != null">
                error_message = #{errorMessage,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="brokerId != null">
                broker_id = #{brokerId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.webank.weevent.processor.model.CEPRule">
        update cep_rule
        <set>
            <if test="ruleName != null">
                rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="fromDestination != null">
                from_destination = #{fromDestination,jdbcType=VARCHAR},
            </if>
            <if test="brokerUrl != null">
                broker_url = #{brokerUrl,jdbcType=VARCHAR},
            </if>
            <if test="payload != null">
                payload = #{payload,jdbcType=VARCHAR},
            </if>
            <if test="payloadType != null">
                payload_type = #{payloadType,jdbcType=INTEGER},
            </if>
            <if test="selectField != null">
                select_field = #{selectField,jdbcType=VARCHAR},
            </if>
            <if test="conditionField != null">
                condition_field = #{conditionField,jdbcType=VARCHAR},
            </if>
            <if test="conditionType != null">
                condition_type = #{conditionType,jdbcType=INTEGER},
            </if>
            <if test="toDestination != null">
                to_destination = #{toDestination,jdbcType=VARCHAR},
            </if>
            <if test="databaseUrl != null">
                database_url = #{databaseUrl,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="errorDestination != null">
                error_destination = #{errorDestination,jdbcType=VARCHAR},
            </if>
            <if test="errorCode != null">
                error_code = #{errorCode,jdbcType=VARCHAR},
            </if>
            <if test="errorMessage != null">
                error_message = #{errorMessage,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="brokerId != null">
                broker_id = #{brokerId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webank.weevent.processor.model.CEPRule">
    update cep_rule
    set rule_name = #{ruleName,jdbcType=VARCHAR},
      from_destination = #{fromDestination,jdbcType=VARCHAR},
      broker_url = #{brokerUrl,jdbcType=VARCHAR},
      payload = #{payload,jdbcType=VARCHAR},
      payload_type = #{payloadType,jdbcType=INTEGER},
      select_field = #{selectField,jdbcType=VARCHAR},
      condition_field = #{conditionField,jdbcType=VARCHAR},
      condition_type = #{conditionType,jdbcType=INTEGER},
      to_destination = #{toDestination,jdbcType=VARCHAR},
      database_url = #{databaseUrl,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      error_destination = #{errorDestination,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_message = #{errorMessage,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
      broker_id = #{brokerId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>