<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.BrokerMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.BrokerEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="broker_url" property="brokerUrl" jdbcType="VARCHAR"/>
        <result column="webase_url" property="webaseUrl" jdbcType="VARCHAR"/>
        <result column="is_config_rule" property="isConfigRule" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update, user_id, name, broker_url, webase_url,is_config_rule
    </sql>

    <select id="brokerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_broker
        where is_delete=0
        <if test="brokerUrl != null">
            and broker_url = #{brokerUrl}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

    <select id="getBroker" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_broker where id=#{id} and is_delete=0
    </select>

    <select id="getBrokers" resultMap="BaseResultMap">
        select distinct
        <include refid="Base_Column_List"/>
        from t_broker where is_delete=0 and (user_id=#{userId}
        or id in
        (select distinct ps.broker_id from t_permission ps where ps.user_id = #{userId})
        )

    </select>

    <insert id="addBroker" parameterType="com.webank.weevent.governance.entity.BrokerEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_broker(name, broker_url, webase_url, user_id, is_config_rule)
        values (#{name}, #{brokerUrl}, #{webaseUrl}, #{userId}, #{isConfigRule})
    </insert>

    <update id="updateBroker" parameterType="com.webank.weevent.governance.entity.BrokerEntity">
        update t_broker
        set name=#{name},
            broker_url=#{brokerUrl},
            webase_url=#{webaseUrl},
            is_config_rule=#{isConfigRule}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteBroker">
        update t_broker
        set is_delete=1
        where id = #{id}
    </delete>

    <select id="countBroker" resultType="int">
        select count(1)
        from t_broker
        where is_delete = 0
    </select>


</mapper>