<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.BrokerMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.BrokerEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="delete_at" property="deleteAt" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="broker_url" property="brokerUrl" jdbcType="VARCHAR"/>
        <result column="webase_url" property="webaseUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update, user_id, name, broker_url, webase_url
    </sql>

    <select id="getBrokers" resultMap="BaseResultMap">
        select distinct
        <include refid="Base_Column_List"/>
        from t_broker where delete_at=0 and (user_id=#{userId}
        or id in
        (select distinct ps.broker_id from t_permission ps where ps.user_id = #{userId})
        )

    </select>




</mapper>