<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.BrokerMapper">

	<resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.Broker">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="last_update" property="lastUpdate" />
		<result column="broker_url" property="brokerUrl" />
		<result column="webase_url" property="webaseUrl" />
		<result column="is_delete" property="isDelete" />
	</resultMap>

	<sql id="Base_Column_List" >
        id, user_id, name, last_update, broker_url, webase_url, is_delete
    </sql>

	<select id="getBroker" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_broker where id=#{id} and is_delete=0
</select>

	<select id="getBrokers"  resultMap="BaseResultMap">
        select distinct
         <include refid="Base_Column_List" />
        from t_broker where user_id=#{userId}
        or id in
        (select distinct ps.broker_id from t_permission ps where ps.user_id = #{userId})
        and is_delete=0
    </select>

    <insert id="addBroker" parameterType="com.webank.weevent.governance.entity.Broker"
            useGeneratedKeys="true" keyProperty="id">
        insert into
        t_broker(name,broker_url,webase_url,user_id)
        values(#{name},#{brokerUrl},#{webaseUrl},#{userId})
    </insert>

    <update id="updateBroker" parameterType="com.webank.weevent.governance.entity.Broker">
        update t_broker set
        name=#{name},broker_url=#{brokerUrl},webase_url=#{webaseUrl} where id=#{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteBroker" >
        update  t_broker set is_delete=1
        where id=#{id}
    </delete>

    <select id="count" >
        select count(1) from t_broker and is_delete=0
    </select>

</mapper>