<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.HistoricalDataMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.HistoricalDataEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="broker_id" property="brokerId" jdbcType="INTEGER"/>
        <result column="topic_name" property="topicName" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="VARCHAR"/>
        <result column="block_number" property="blockNumber" jdbcType="INTEGER"/>
        <result column="event_id" property="eventId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update, broker_id,user_id,topic_name, group_id, block_number, event_id
    </sql>


    <select id="historicalDataList" resultMap="BaseResultMap">
        SELECT
        topic_name,DATE_FORMAT(create_date,"%Y-%m-%d")as create_date ,count(event_id) as eventCount
        from t_historical_data
        WHERE 1=1
        <if test="beginDate != null">
            AND DATE_FORMAT(create_date,"%Y-%m-%d")&gt;=DATE_FORMAT(#{beginDate},"%Y-%m-%d")
        </if>
        <if test="endDate != null">
            AND DATE_FORMAT(create_date,"%Y-%m-%d")&lt;=DATE_FORMAT(#{endDate},"%Y-%m-%d")
        </if>
        <if test="topicName != null">
            AND topic_name=#{topicName}
        </if>
        <if test="userId != null">
            AND user_id=#{userId}
        </if>
        <if test="brokerId != null">
            AND broker_id=#{brokerId}
        </if>
        <if test="groupId != null">
            AND group_id=#{groupId}
        </if>
        <if test="topicList != null and topicList.size()>0">
            and topic_name in
            <foreach collection="topicList" item="topic" open="(" separator="," close=")">
                #{topic}
            </foreach>
        </if>
        GROUP BY topic_name,DATE_FORMAT(create_date,"%Y-%m-%d")
    </select>

    <insert id="addHistoricalData" parameterType="com.webank.weevent.governance.entity.HistoricalDataEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_historical_data(broker_id, user_id, topic_name, group_id, block_number, event_id)
        values (#{brokerId}, #{userId}, #{topicName}, #{groupId}, #{blockNumber}, #{eventId})
    </insert>


    <delete id="deleteHistoricalData">
        delete
        from t_historical_data
        where id = #{id}
    </delete>

    <select id="countHistoricalData" resultType="int">
        select count(1)
        from t_historical_data
        where 1 = 1
    </select>


</mapper>