<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.PermissionEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="broker_id" property="brokerId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update,user_id,broker_id
    </sql>
    <select id="permissionList" resultMap="BaseResultMap"
            parameterType="com.webank.weevent.governance.entity.PermissionEntity">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        where 1=1
        <if test="permissionEntity.userId != null">
            and user_id = #{permissionEntity.userId,jdbcType=INTEGER}
        </if>
        <if test="permissionEntity.createDate != null">
            and create_date = #{permissionEntity.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="permissionEntity.lastUpdate != null">
            and last_update = #{permissionEntity.lastUpdate,jdbcType=TIMESTAMP}
        </if>
        <if test="permissionEntity.brokerId != null">
            and broker_id = #{permissionEntity.brokerId,jdbcType=INTEGER}
        </if>
    </select>

    <delete id="batchDelete" parameterType="com.webank.weevent.governance.entity.PermissionEntity">
        delete from t_permission
        where id in
        <foreach collection="permissionEntity.userIdList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deletePermission" parameterType="java.lang.Integer">
        delete
        from t_permission
        where broker_id = #{brokerId}
    </delete>

    <update id="updatePermission" parameterType="com.webank.weevent.governance.entity.PermissionEntity">
        update t_permission
        set user_id=#{permissionEntity.userId},
            broker_id=#{permissionEntity.brokerId}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <insert id="batchInsert">
        INSERT INTO t_permission(`user_id`,`broker_id`)
        VALUES
        <foreach collection="permissionEntityList" item="permissionEntity" separator=",">
            (#{permissionEntity.userId},#{permissionEntity.brokerId})
        </foreach>
    </insert>

    <select id="findUserIdByBrokerId" resultType="integer">
        select distinct user_id as userId
        from t_broker
        where id = #{brokerId}
          and is_delete = 0
        union
        select distinct user_id as userId
        from t_permission
        where broker_id = #{brokerId}
    </select>

</mapper>
