<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.RuleEngineConditionMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.RuleEngineConditionEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="rule_id" property="ruleId" jdbcType="INTEGER"/>
        <result column="sql_condition_json" property="sqlConditionJson" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,create_date,last_update,rule_id,sql_condition_json
    </sql>
    <select id="ruleEngineConditionList" resultMap="BaseResultMap"
            parameterType="com.webank.weevent.governance.entity.RuleEngineConditionEntity">
        select
        <include refid="Base_Column_List"/>
        from t_rule_engine_condition
        where 1=1
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="ruleId != null">
            and rule_id = #{ruleId,jdbcType=INTEGER}
        </if>

    </select>
    <insert id="batchInsert" parameterType="com.webank.weevent.governance.entity.RuleEngineConditionEntity">
        insert into t_rule_engine_condition(rule_id, sql_condition_json)
        VALUES
        <foreach collection="ruleEngineConditionList" item="ruleEngineCondition" separator=",">
            (#{ruleEngineCondition.ruleId}, #{ruleEngineCondition.sqlConditionJson})
        </foreach>
    </insert>


    <insert id="addRuleEngineCondition" parameterType="com.webank.weevent.governance.entity.RuleEngineConditionEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_rule_engine_condition(rule_id, sql_condition_json)
        values (#{ruleId}, #{sqlConditionJson})
    </insert>

    <delete id="deleteRuleEngineCondition"
            parameterType="com.webank.weevent.governance.entity.RuleEngineConditionEntity">
        delete
        from t_rule_engine_condition
        where rule_id = #{ruleId}
    </delete>

</mapper>