<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.RuleEngineMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.RuleEngineEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="rule_name" property="ruleName" jdbcType="INTEGER"/>
        <result column="payload_type" property="payloadType" jdbcType="INTEGER"/>
        <result column="payload" property="payload" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="broker_id" property="brokerId" jdbcType="INTEGER"/>
        <result column="from_destination" property="fromDestination" jdbcType="VARCHAR"/>
        <result column="to_destination" property="toDestination" jdbcType="VARCHAR"/>
        <result column="select_field" property="selectField" jdbcType="VARCHAR"/>
        <result column="condition_type" property="conditionType" jdbcType="INTEGER"/>
        <result column="condition_field" property="conditionField" jdbcType="VARCHAR"/>
        <result column="condition_field_json" property="conditionFieldJson" jdbcType="VARCHAR"/>
        <result column="database_url" property="databaseUrl" jdbcType="VARCHAR"/>
        <result column="rule_database_id" property="ruleDataBaseId" jdbcType="INTEGER"/>
        <result column="error_destination" property="errorDestination" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="VARCHAR"/>
        <result column="cep_id" property="cepId" jdbcType="VARCHAR"/>
        <result column="function_array" property="functionArray" jdbcType="VARCHAR"/>
        <result column="system_tag" property="systemTag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update, rule_name,payload_type,payload,broker_id,user_id,cep_id,
        from_destination,to_destination,select_field,condition_type,condition_field,condition_field_json,
        rule_database_id,error_destination,status,group_id,system_tag,function_array
    </sql>


    <select id="getRuleEngines" parameterType="com.webank.weevent.governance.entity.RuleEngineEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_rule_engine where status!=2
        <include refid="ruleEngineWhere"/>
    </select>

    <select id="getRuleEnginePage" parameterType="com.webank.weevent.governance.entity.RuleEngineEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_rule_engine where status!=2 and delete_at=0
        <if test="ruleEngineEntity.id != null">
            and id = #{ruleEngineEntity.id,jdbcType=INTEGER}
        </if>
        <if test="ruleEngineEntity.userId != null">
            and user_id = #{ruleEngineEntity.userId,jdbcType=INTEGER}
        </if>
        <if test="ruleEngineEntity.groupId != null">
            and group_id = #{ruleEngineEntity.groupId,jdbcType=VARCHAR}
        </if>
        <if test="ruleEngineEntity.brokerId != null">
            and broker_id = #{ruleEngineEntity.brokerId,jdbcType=INTEGER}
        </if>
        <if test="ruleEngineEntity.ruleName != null and ruleEngineEntity.ruleName!=''">
            and rule_name = #{ruleEngineEntity.ruleName,jdbcType=VARCHAR}
        </if>
        <if test="ruleEngineEntity.systemTag != null">
            and system_tag = #{ruleEngineEntity.systemTag}
        </if>
        <if test="startIndex != null and endIndex!=null">
            limit #{startIndex},#{endIndex}
        </if>
    </select>

    <sql id="ruleEngineWhere">
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="userId != null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId,jdbcType=VARCHAR}
        </if>
        <if test="brokerId != null">
            and broker_id = #{brokerId,jdbcType=INTEGER}
        </if>
        <if test="ruleName != null and  ruleName!=''">
            and rule_name = #{ruleName,jdbcType=VARCHAR}
        </if>
        <if test="systemTag != null">
            and system_tag = #{systemTag}
        </if>
    </sql>


    <select id="countRuleEngine" parameterType="com.webank.weevent.governance.entity.RuleEngineEntity"
            resultType="int">
        select count(1) from t_rule_engine
        where status!=2
        <include refid="ruleEngineWhere"/>
    </select>

</mapper>