<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.TopicHistoricalMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.TopicHistoricalEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="brokerId" property="brokerId" jdbcType="INTEGER"/>
        <result column="topicName" property="topicName" jdbcType="VARCHAR"/>
        <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
        <result column="eventId" property="eventId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,last_update, brokerId,topicName, groupId, eventId
    </sql>


    <select id="historicalDataList" resultMap="BaseResultMap">
        SELECT
        topicName,create_date,eventId
        from t_topic_historical
        WHERE 1=1
        <if test="beginDate != null">
            AND create_date &gt;= #{beginDateStr}
        </if>
        <if test="endDate != null">
            AND create_date &lt;= #{endDateStr}
        </if>
        <if test="topicName != null">
            AND topicName=#{topicName}
        </if>

        <if test="brokerId != null">
            AND brokerId=#{brokerId}
        </if>
        <if test="groupId != null">
            AND groupId=#{groupId}
        </if>
        <if test="topicList != null and topicList.size()>0">
            and topicName in
            <foreach collection="topicList" item="topic" open="(" separator="," close=")">
                #{topic}
            </foreach>
        </if>
    </select>

    <select id="eventList" resultMap="BaseResultMap">
        SELECT
        create_date,eventId
        from t_topic_historical
        WHERE 1=1
        <if test="beginDate != null">
            AND create_date &gt;= #{beginDateStr}
        </if>
        <if test="endDate != null">
            AND create_date &lt;= #{endDateStr}
        </if>
        <if test="topicName != null">
            AND topicName=#{topicName}
        </if>

        <if test="brokerId != null">
            AND brokerId=#{brokerId}
        </if>
        <if test="groupId != null">
            AND groupId=#{groupId}
        </if>
        <if test="topicList != null and topicList.size()>0">
            and topicName in
            <foreach collection="topicList" item="topic" open="(" separator="," close=")">
                #{topic}
            </foreach>
        </if>
    </select>

</mapper>