<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.weevent.governance.mapper.TopicInfoMapper">

    <resultMap id="BaseResultMap" type="com.webank.weevent.governance.entity.TopicEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="topic_name" property="topicName" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="broker_id" property="brokerId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date, last_update , topic_name, creater, broker_id,group_id,description
    </sql>


    <select id="getCreator" resultMap="BaseResultMap">
        select creater,broker_id,group_id,topic_name
        from t_topic where is_delete=0
        <if test="topicNameList != null and topicNameList.size()>0">
            AND topic_name in
            <foreach collection="topicNameList" index="topic" open="(" separator="," close=")">
                #{topic}
            </foreach>
        </if>
        <if test="brokerId != null">
            AND broker_id = #{brokerId}
        </if>
        <if test="groupId != null">
            AND group_id = #{groupId}
        </if>
    </select>

    <insert id="openBrokeTopic" parameterType="com.webank.weevent.governance.entity.TopicEntity">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from t_topic
            where broker_id=#{topicEntity.brokerId}
            and topic_name =
            #{topicEntity.topicName}
            and topic_name = #{topicEntity.groupId}
            and is_delete=0
        </selectKey>
        <if test="count > 0">
            update t_topic
            <set>
                <if test="topicEntity.creater != null">
                    creater= #{topicEntity.creater}
                </if>
            </set>
            <where>
                topic_name = #{topicEntity.topicName} and broker_id=#{topicEntity.brokerId}
                and group_id = #{topicEntity.groupId} and is_delete=0
            </where>
        </if>
        <if test="count==0">
            insert into t_topic(broker_id,topic_name,group_id,creater,description) values
            (#{topicEntity.brokerId},#{topicEntity.topicName},#{topicEntity.groupId},
            #{topicEntity.creater},#{topicEntity.description})
        </if>
    </insert>

    <delete id="deleteTopicInfo" parameterType="java.lang.Integer">
        update t_topic
        set is_delete=1
        where id = #{id}
    </delete>

    <delete id="deleteByBrokerId" parameterType="java.lang.Integer">
        update t_topic
        set is_delete=1
        where broker_id = #{brokerId}
    </delete>

</mapper>